/* using for all body  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@200;300;400;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* using for multiple class  */

.logo-color {
    color: #FF42A5;
}

.ttl-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ttl {
    font-size: clamp(2.1875rem, 1.6106rem + 1.6026vw, 2.8125rem);
    font-weight: 600;
}

.btn {
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}



/* start header part  */

header {
    /* background-color: #781; */
    display: flex;
    align-items: center;
    padding: 0 clamp(3.75rem, -3.1731rem + 19.2308vw, 11.25rem);
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
}

nav {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #e6ff42; */
}

nav>.logo {
    display: flex;
    align-items: center;
}

nav>.logo>img {
    width: clamp(3rem, 2.0769rem + 2.5641vw, 4rem);
    margin-right: 1rem;
}

.logo-ttl {
    font-size: clamp(1.5rem, 0.5769rem + 2.5641vw, 2.5rem);
    font-weight: 700;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav>ul>li {
    margin-left: clamp(0.9375rem, 0.3606rem + 1.6026vw, 1.5625rem);
    color: #3C354F;
    font-size: clamp(0.9375rem, 0.7644rem + 0.4808vw, 1.125rem);
    font-weight: 500;
}

.fa-youtube {
    color: red;
}

.follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(8rem, 4.3077rem + 10.2564vw, 12rem);
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* 
 <!-- start main part -->

        <!-- 1st section of main  --> */

.Play-Like {
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(3.75rem, -3.1731rem + 19.2308vw, 11.25rem);
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
    background-color: #4EC5F7;
}

.play-like-dtl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: clamp(1rem, -2.6923rem + 10.2564vw, 5rem) 0;
}

.play-ttl {
    color: #0B0223;

}

.the-ttl {
    text-align: center;
    font-size: clamp(3.5rem, 1.6538rem + 5.1282vw, 5.5rem);
    font-weight: 800;
}

.play-like-dtl>ul {
    list-style: none;

}

.play-like-dtl>ul>li {
    color: #534C64;
    font-size: clamp(0.875rem, 0.6442rem + 0.641vw, 1.125rem);
    font-weight: 500;
    margin-bottom: 0.5rem;
    cursor: pointer;

}

.fa-circle-down {
    color: #FF42A5;
}

.btn-box {
    margin: 2rem 0;
    width: 18rem;
    /* background-color: #96c0e7; */
    display: flex;
    justify-content: space-between;
}

.play-btn1 {
    background: #FF42A5;
}

.play-btn2 {
    background: #4EC5F7;
}


/* 2nd part of 1st section  */

.play-like-pic {
    height: clamp(25rem, 18.5385rem + 17.9487vw, 32rem);
    width: clamp(26rem, 19.5385rem + 17.9487vw, 33rem);
    background-image: url(images/Group\ 18.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center ;
    background-color: #4F755566;
}